%h2
= simple_form_for(@user, :url => user_path(@user), :html => { :method => :put, :class => 'form-vertical' }) do |f|
  = f.input :name, :autofocus => true
  = f.input :alias
  = f.input :email, :required => true
  = f.input :password, :autocomplete => "off", :required => true
  = f.input :password_confirmation, :required => true
  -#= f.input :current_password, :hint => "we need your current password to confirm your changes", :required => true
  = f.association :roles, as: :radio_buttons if can? :manage_roles, @user
  %br/
  = f.button :submit, 'Update', :class => 'btn-primary'
