= simple_form_for(@user, :rul => new_user_path, html: {method: :post, class: 'form-vertical'}) do |f|
  = f.input :name, :autofocus => true
  = f.input :alias
  = f.input :email, :required => true
  = f.input :password
  = f.input :password_confirmation, :required => false
  = f.association :roles, as: :radio_buttons
  %br/
  = f.submit 'Submit'
-#
-#%h2 Sign up
-#= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
-#  = devise_error_messages!
-#  %div
-#    = f.label :name
-#    %br/
-#    = f.text_field :name
-#  %div
-#    = f.label :nick_name
-#    %br/
-#    = f.text_field :alias
-#  %div
-#    = f.label :email
-#    %br/
-#    = f.email_field :email, :autofocus => true
-#  %div
-#    = f.label :password
-#    %br/
-#    = f.password_field :password
-#  %div
-#    = f.label :password_confirmation
-#    %br/
-#    = f.password_field :password_confirmation
-#  -#%div
-#  -#  %br/
-#  -#  = f.association :roles, as: :select
-#  %div= f.submit "Sign up"
-#= render "devise/shared/links"
