.div2.alert.alert-info
  Remarks:
  - @game.players.each do |player|
    - if player.remark.present? && (player.remark != 0 || player.kill)
      %div{class: "#{player.user.name} remark_separator"}
        №
        = player.player_number
        .player{data:{remarks: player.remark,kill: player.kill.to_s}}
          = player.user.name
        .remark
          = player.remark if player.remark
          = "Dead" if player.kill

        .kill

  .set_remarks
    %strong
      = link_to 'Make A Remark', '', class: 'btn remark_link'

