= form_for @game do |g|
  %div
    = g.label :description
    %br/
    = g.text_field :description

  %div
    = g.select :game_manager, options_for_select(@users.map {|user| [user.name, user.id]})

  - @users.each do |u|
    %div
      Add Players:
      = u

  %div
    = g.submit

.span6
  fdsfsfs
  .well
    well text