= form_for @game do |g|
  %div
    = g.label :description
    %br/
    = g.text_field :description

  %div
    = g.select :game_manager, options_for_select(@users.map {|user| [user.user_name, user.id]})
  %div
    = g.submit
