= form_for @game do |g|
  %div
    = g.label :description
    %br/
    = g.text_field :description
  %div
    = g.select :game_manager, options_for_select(@users.map {|user| [user.name, user.id]})
  %div
    Add Players:
    - @users.each do |u|    
      = g.select :gamer, options_for_select(@users.map {|user| [user.name, user.id]})
  %div
    = g.submit
