= form_for @game do |g|
  %div
    = g.label :description
    %br/
    = g.text_field :description

  %div
    = g.select :game_manager, options_for_select(@users.map {|user| [user.alias, user.id]})

  %div
    = g.submit

:javascript
  $('input[type="submit"]').click(function(){
    var description = $('#game_description').val()
        pass = true;

    if (!description) {
      $('#game_description').attr('placeholder', 'cant be blank');
      pass = false;
    }
    return pass;
  })