.game_players
  - @game.players.each do |player|
    .btn.item_finish{disabled: true}
      %br
        %b name:
        = "#{player.user.name}"
      %br
        %b role:
        = "#{player.role}"
      %br
        %b score:
        = "#{player.score}"
      %br
        %b number:
        = "#{player.player_number}"
