%table.table.table-striped.table-bordered.bordered.zebra

  %thead
    %tr
      %th{:style => 'width: 10%'} ID
      %th{:style => 'width: 10%'}=sortable 'description','Description'
      %th{:style => 'width: 10%'} Manager
      %th{:style => 'width: 40%'} Players
      %th{:style => 'width: 10%'}= sortable 'game_status', 'Game Status'
      %th{:style => 'width: 30%'}= sortable 'best_player', 'Best Player'
      %th{:style => 'width: 10%'}= sortable 'result', 'Result'

      %th{:style => 'width: 10%'}
      -#%th{:style => 'width: 10%'} Update
      -#%th{:style => 'width: 10%'} Destroy
    - @games.each do |g|
      %tr
        %td= g.game_ref
        %td= g.description
        %td= g.manager.user.name
        %td
          -g.appointments.each do |a|
            =image_tag 'mafia.jpeg' 
        %td= g.game_status
        %td= g.best_player
        %td= g.result

        %td
          .btn-group
            =link_to 'Actions', '', class: 'btn btn-primary dropdown-toggle'
            =link_to '', class: 'btn btn-primary dropdown-toggle' do
              %span.caret
            %ul.dropdown-menu
              %li
                = link_to game_path(g) do
                  %i.icon-th
                  Show
              %li
                = link_to edit_game_path(g) do
                  %i.icon-pencil
                  Edit
              %li
                = link_to game_path(g), method: :delete do
                  %i.icon-trash
                  Destroy
        -#%td= link_to 'Show', game_path(g), class:'btn'
        -#%td= link_to 'Edit', edit_game_path(g), class:'btn'
        -#%td= link_to 'Destroy', game_path(g), method: :delete,class:'btn btn-danger'
- if can? :create, @game
  .new
    = link_to "New", new_game_path, rel: 'facebox', class:'btn btn-primary'
#pagination= will_paginate @games

