.game_players
  - @game.players.each do |player|
    .btn.item_finish{disabled: true}
      %br= "name: #{player.user.name}"
      %br= "role: #{player.role}"
      %br= "score: #{player.score}"
      %br= "number: #{player.player_number}"
