%ul.nav.nav-tabs
  %li.active
    = link_to 'Games'
%h4 Games list
%table.table.table-striped.table-bordered
  %thead
    %tr
      %th{:style => 'width: 10%'} ID
      %th{:style => 'width: 10%'} Description
      %th{:style => 'width: 20%'} Manager
      %th{:style => 'width: 10%'} Appointment ID
      %th{:style => 'width: 10%'} Show
      %th{:style => 'width: 10%'} Update
      %th{:style => 'width: 10%'} Destroy
    - @games.each do |g|
      %tr
        %td= g.id
        %td= g.description
        %td= g.manager.user.name
        - g.appointments.each do |a|
          %td= a.id
        %td= link_to 'Show', game_path(g), class:'btn' 
        %td= link_to 'Edit', edit_game_path(g), class:'btn'
        %td= link_to 'Destroy', game_path(g), method: :delete,class:'btn btn-danger'
.new
  = link_to "New", new_game_path, rel: 'facebox', class:'btn btn-primary'

  




:javascript
  $(document).ready(function(){
  $("a[rel*='facebox']").facebox()
  })