%ul.nav.nav-tabs
  %li.active
    = link_to 'Games'
  %li
    = link_to 'Scores', scores_path
%h4 Games list

= form_tag @game, method: :get do
  = text_field_tag :search, params[:search]

#sortable= render 'games_table'






