.game_content
  %div
    %span
      Game Description:
      %strong
        = @game.description

  %div
    %span
      Game Manager:
      %strong
        = @game.manager.user.name

  %div{id: "#{@game.id}", class: 'game'}
    %span
      Game ID:
      %strong
        = @game.id

  - unless @game.appointments.size >= 10
    = form_for [@game, @game.appointments.build] do |f|
      = f.select :user_id, options_from_collection_for_select(User.where("id not in(?) ", @used_ids), 'id', 'name')
      = f.submit 'Add Player', :id => 'add_player'


.players
  Players:
  %strong
    - @game.appointments.each do |player|
      - unless player.id == nil
        .offset1
          = player.user.name
          = link_to 'remove',game_appointment_path(@game, player), method: :delete
  = link_to 'remove all', destroy_all_game_appointment_path(@game, @appointments), method: :delete if @appointments.size > 2



:javascript
  /*  $('.add_player').bind('Click', function(e) {
      var game_id= $('#{@game.id}');
      console.log(game_id);
      $.ajax({url: 'games/' + game_id, // URL to contact
        type: 'GET',
        success: function(data) {
          $('.players').empty().append(data);
          }
      });
    });

    $('#add_player').click(function(){
      var game_id= $('#{@game.id}');
      console.log(game_id);
      //$('.players').load()
    });
  */
