.game_content
  %div
    %span
      Game Description:
      %strong
        = @game.description
        %span.finish
          = link_to 'Finish Game', game_best_player_path(@game), rel: 'facebox'

  %div
    %span
      Game Manager:
      %strong
        = @game.manager.user.name

  %div{data: {id: "#{@game.id}"}, class: 'game'}
    %span
      Game ID:
      %strong
        = @game.id
  %div
    %span
      Game Status:
      %strong
        = @game.game_status
  - unless @game.status_open?
    - if @game.result.present?
      %div
        %span
          Won:
          %strong
            = @game.result
    - if @game.best_player.present?
      %div
        %span
          Best Player:
          %strong
            = @game.best_player

= render  @game.status_open? ? 'games/drag_drop' :  'games/game_players'

- if @game.appointments.size >= 10 && @game.status_open?
  = render 'games/display_remarks'
  = render 'appointments/remarks'
  = render 'appointments/role'
  = render 'games/player_roles'
  -#= render 'games/timer'

- if @game.appointments.present? && @game.status_open?
  .nav_button
    .remove_all
      = link_to 'Rolify', set_role_game_appointment_path(@game, @appointments), rel: '', class: 'btn rolify'
    .remove_all
      = link_to 'Remove All', destroy_all_game_appointment_path(@game, @appointments), method: :delete, class: 'btn'
    -#.remove_all
    -#  = link_to 'Show/Hide Roles', '', class: 'btn show_hide_role'


-#= link_to 'Create Round', new_game_round_path(@game)

:javascript
  $(function(){
    new Drag_Drop()
  })

