.game_content
  %div
    %span
      Game Description:
      %strong
        = @game.description
        %span.finish.btn.btn-inverse
          = link_to 'Finish Game', game_best_player_path(@game), rel: 'facebox' if can? :update, @game

  %div
    %span
      Game Manager:
      %strong
        = @game.manager.user.name

  %div{data: {id: "#{@game.id}"}, class: 'game'}
    %span
      Game ID:
      %strong
        = @game.id
  %div
    %span
      Game Status:
      %strong
        = @game.game_status
  - unless @game.status_open?
    - if @game.result.present?
      %div
        %span
          Won:
          %strong
            = @game.result
    - if @game.best_player.present?
      %div
        %span
          Best Player:
          %strong
            = @game.best_player
  .clock_widget.hidden
    .clock
    .start.btn.btn-success START 
    .stop.btn.btn-inverse STOP
    .reset.btn.btn-danger RESET
  .toggleShowClock.btn.btn-primary Show / Hide Clock

= render  @game.status_open? ? 'games/drag_drop' :  'games/game_players'

- if @game.players.size >= 10 && @game.status_open?
  = render 'games/display_remarks'
  = render 'players/remarks'
  = render 'players/role'
  = render 'games/player_roles'
  -#= render 'games/timer'

- if @game.players.present? && @game.status_open?
  .nav_button
    .remove_all
      = link_to 'Rolify', set_role_game_player_path(@game, @players), rel: '', class: 'btn rolify'
    .remove_all
      = link_to 'Remove All', destroy_all_game_player_path(@game, @players), method: :delete, class: 'btn'
      -#= link_to 'Show/Hide Roles', '', class: 'btn show_hide_role'

:javascript
  $(function(){
    new Drag_Drop();
    new Roles();
    new ValidateRolesUniqurness();
  })

  $(document).ready(function() {
      var clock;

      clock = $('.clock').FlipClock(60, {
          clockFace: 'MinuteCounter',
          countdown: true,
          callbacks: {
              stop: function() {
              }
          }
      });
      clock.stop();
      var time  = clock.getTime();
      $('.start').on('click', function(){

          clock.setTime(time.time);
          clock.start();
      });
      $('.stop').on('click', function(){
        clock.stop();
      });

      $('.reset').on('click', function(){
        clock.stop();
        clock.setTime(60);
      });

      $('.toggleShowClock').on('click',function(){
        $('.clock_widget').toggleClass('hidden');
      });
  });
