!!!
%html
  %head
    %title Mafia
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .notice
      = notice
    .alert
      = alert

    .controller_action
      %p
        Controller:
        = controller_name
      %p
        Action:
        = action_name
      - if user_signed_in?
        %p
          Signed In As:
          = current_user.alias
        %p
          = link_to 'Sign Out', destroy_user_session_path, method: :delete
      - else
        %p
          = link_to 'Sign In', new_user_session_path
          = link_to 'Sign Up', new_user_registration_path
    = yield